<h1>Eat-Da-Burger</h1>



<img class="burggif" src="https://66.media.tumblr.com/tumblr_lz8hw14V2C1r5mnvxo4_250.gif" alt"burger pic">


<h2>Burgers to Devour!</h2>
<ol>
    {{#each burger}}
    <li>
        <p class="burg-name" data-dev="false">{{this.burger_name}}</p>
        <button data-id="{{id}}" class="devour-btn">Devour!</button>
    </li>
    {{/each}}

</ol>




<h2>Devoured Burgers! Urrrrp!</h2>


    {{#each burger}}
    <p class="burg-name" data-dev="true">{{this.burger_name}}</p>
    {{!-- {{> buger-button }}    --}}
    {{/each}}

<h2>Add a Burger to devourrrr</h2>
<form class="create-form">

    <div class="form-group">
        <label for="burg">Burger Name:</label>
        <input type="text" id="burg" name="name">
    </div>

    <button type="submit">Add da burg</button>
</form>